* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container {
  background-color: rgb(180, 180, 180);
  width: 90%;
  height: 50vh;
}

h1 { 
  font-size: 4rem;
  margin: 2rem;
}

input {
  font-size: 20px;
  border: 1px solid black;
  padding: 2px;
  margin: 2px;
}

select {
  width: 249.5px;
  font-size: 20px;
  border: 1px solid black;
  padding: 2px;
  margin: 2px;
}

input[type = "submit"] {
  font-weight: bold;
  border: 2px solid black;
}

ul {
  list-style: none;
  margin: 2rem; 
}

li p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 900px;
  height: 600px;
}

.top {
  position: relative; 
  top: -600px;
  color: #00ccff;
  font-size: 50px;
}

.bottom {
  position: relative; 
  top: -125px;
  color: #00ccff;
  font-size: 50px;
}

.close {
  position: relative;
  top: -720px;
  left: 840px;
  color: red;
  font-size: 50px;
  z-index: 1;
  width: 6%;
}

.close:hover {
  background-color: black;
}